<div class='GeckoTimeline'>
	<h1>Timeline</h1>
	<div class='timeline-container'>
		<div class='timeline' ng-style='calcTimelineSize()'>
			<div class='timeline-marker' ng-repeat='marker in getMarkers()' ng-style='positionDate(marker)'>
				<label>{{marker}}</label>
			</div>

			<div class='timeline-event'
				 ng-repeat='event in events'
				 ng-style='eventStyle($index, event)'>
				<label>
<!--					<i class='material-icons'>brightness_1</i>-->
					<i class='material-icons'>label</i>
					<span>{{event.type}}</span>
				</label>
			</div>
		</div>
	</div>
</div>