<div style="padding: 40px;">

	<h1>Generic Modals</h1>
	<a href="#" ng-click="showAlertModal()">Show Alert Modal</a><br>
	<a href="#" ng-click="showYesNoModal()">Show Yes/No Modal</a>
	
	<h1>Form Fields</h1>
	<div style='width: 300px; display: inline-block;'><form-field-text label='Text Field' value='form.text'></form-field-text></div>
	<div style='width: 300px; display: inline-block;'><form-field-number label='Number Field' value='form.number'></form-field-number></div>
	<div style='width: 300px; display: inline-block;'><form-field-date label='Date Field' value='form.date'></form-field-date></div>
	
</div>