<!-- HEADER STATUS BAR -->
<div class='navigation grid'>
        <div class="col-1-2">{{statusMsg}}</div>
        <div class="col-1-2 right"><a href="/new">Add New Gecko</a></div>
</div>
<!-- CONTAINER FOR LIST OF GECKOS -->
    <div class='content'>
        <div ng-repeat='gecko in geckos' class="gecko-card grid" ng-class=gecko.sex>
            <div class="col-1-4">
                <i class='fa fa-mars' ng-if="gecko.sex == 'male'"></i>
                <i class='fa fa-venus' ng-if="gecko.sex == 'female'"></i>
                <strong>{{gecko.name}}</strong>
            </div>
            <div class="col-1-4">
                Morph: {{gecko.morph}}
            </div>
            <div class="col-1-4">
                Location: {{gecko.location}}
            </div>
            <div class="col-1-6">
                Status: {{gecko.status}}
            </div>
            <div class="col-1-12 right">
                <a href="/geckos/{{gecko._id}}">
                    <i class='fa fa-expand'></i>
                </a>
                <i class='fa fa-trash' ng-click="deleteGecko(gecko._id,gecko.name)"></i>
            </div>
        </div>
    </div>
