<!-- ADD GECKO FORM -->
<div class="add-gecko-form" modal>
	<form name="addGeckoForm" id="form">
		<div class="title">
			<i class='material-icons icon'>add_circle</i>Add a New Gecko
			<p class="highlight small">* required</p>
		</div>
		<div class="grid content flex-container flex-wrap">
			<div class='half-width'>
				<form-field-text label="Name" value="form.name" />
			</div>
			<div class='half-width'>
				<form-field-text label="ID" value="form.userId" />
			</div>
			<div class='full-width'>
				<form-field-text label="Morph" value="form.morph" />
			</div>
			
			<div class='third-width'>
				<form-field-select label="Sex" value="form.sex" options="options.sex" />
			</div>
			<div class='third-width'>
				<form-field-select label="Stage" value="form.stage" options="options.stage" />
			</div>
			<div class='third-width'>
				<form-field-select label="Status" value="form.status" options="options.status" />
			</div>

			<div class='half-width'>
				<form-field-date label="Date Hatched" value="form.hatchDate" />
			</div>
			<div class='half-width'>
				<form-field-date label="Date Purchased" value="form.purchaseDate" />
			</div>

			<div class='half-width'>
				<form-field-date label="Mother" value="form.hatchDate" />
			</div>
			<div class='half-width'>
				<form-field-date label="Father" value="form.purchaseDate" />
			</div>

			<div class='two-third-width'>
				<form-field-text label="Location" value="form.location" />
			</div>
			<div class='third-width'>
				<form-field-number label="Current Weight (g)" value="form.currWeight" />
			</div>

			<div class='full-width'>
				<form-field-big-text label="Notes" value="form.notes" />
			</div>

<!--
			<div class="row">
				
				<div class="col-1-4">
					<label>Name of Gecko<span class="highlight">*</span></label>
					<input class="field" type="text" placeholder="ex. Tammy or Gecko #23" ng-model="form.name">
				</div>
				<div class="col-1-4">
					<label>ID<span class="highlight">*</span></label>
					<input class="field" type="text" placeholder="ex. 16M24 or Tammy" ng-model="form.userId">
				</div>
				<div class="col-1-4">
					<label>Morph Type</label>
					<input class="field" type="text" placeholder="ex. Lavender Jungle Bandit" ng-model="form.morph">
				</div>
				<div class="col-1-4">
					<label>Sex</label>
					<select ng-model="form.sex">
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="unknown" selected>Unknown</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-1-4">
					<label>Location</label>
					<input class="field" type="text" placeholder="ex. Bin 2A" ng-model="form.location">
				</div>
				<div class="col-1-4">
					<label>Date of Birth</label>
					<input class="field" type="date" placeholder="birthdate" ng-model="form.hatchDate">
				</div>
				<div class="col-1-4">
					<label>Date of Purchase</label>
					<input class="field" type="date" placeholder="date of purchase" ng-model="form.purchaseDate">
				</div>
				<div class="col-1-4">
					<label>Stage</label>
					<select ng-model="form.stage">
						<option value="unknown" selected>Unknown</option>
						<option value="adult">Adult</option>
						<option value="hatchling">Hatchling</option>
						<option value="egg">Egg</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-1-4">
					<label>Mother</label>
					<input class="field" type="text" placeholder="not selected yet" ng-model="form.mother.name" readonly ng-click="showParentModal('female')">
				</div>
				<div class="col-1-4">
					<label>Father</label>
					<input class="field" type="text" placeholder="search by name of id" ng-model="form.father.name" readonly ng-click="showParentModal('!female')">
				</div>
				<div class="col-1-4">
					<label>Current Weight</label>
					<input class="field" type="number" placeholder="Weight in grams" ng-model="form.currWeight">
				</div>
				<div class="col-1-4">
					<label>Status</label>
					<select ng-model="form.status">
						<option value="unknown" selected>Unknown</option>
						<option value="normal">Normal</option>
						<option value="gravid">Gravid</option>
						<option value="sold">Sold</option>
						<option value="dead">Dead</option>
					</select>
				</div>
			</div>
-->
			<!-- TODO: remove unnecessary parent picker buttons and but notes at bottom -->
<!--
			<div class="row">
				<label>Notes</label>
				<input class="field" type="textarea" rows="1" cols="50" ng-model="form.notes">
			</div>
-->
		</div>
		<div class="buttons e_button-box right">
			<button class="button--flat" ng-click="submitForm()">Add</button>
			<button class="button--flat" ng-click="close()">Cancel</button>
		</div>
	</form>
</div>
