@import "grid.less";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,700i,800';

/* Colors */

@pink: rgba(220, 200, 200, 0.9);

/* light rose color for female geckos */

@blue: rgba(190, 210, 220, 0.9);

/* light blue color for male geckos */

body {
    // background: white;
    background: url("../img/subtle_dots.png");
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

i {
    padding: 5px;
}

a {
    text-decoration: none;
}
.header {
    background: #222;
    color: white;
    padding: 5px 10px;
    .title {
        .bold {
            font-weight: bold;
        }
        font-size: 2.5em;
    }
}

.navigation {
    background: #ccc;
    border-bottom: solid 1px #bbb;
    color: #444;
    padding: 5px 20px;
}

.content {
    background: white;
    border-radius: 2px;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.gecko-card {
    border: solid 1px grey;
    padding: 5px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.9);
}

.female {
    background: @pink;
}

.male {
    background: @blue;
}

#form {
    width: 1200px;
    margin: auto;
    border: dotted 1px grey;
    padding: 10px;
}

input {
    padding: 5px;
    border: solid 1px LightGrey;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: auto;
    text-transform: uppercase;
}

.form-element {
    .col-1-4;
    float: left;
}
/*
@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
@keyframes slideOutLeft {
    to { transform: translateX(-100%); }
}

.ng-enter {
    animation: slideInRight 0.1s both ease-in; z-index: 8888;
}
.ng-leave {
    animation: slideOutLeft 0.1s both ease-in; z-index: 9999;
}
*/

.events-table {
    width: 1200px;
    margin: auto;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 0;
    
    .title {
        padding: 16px;
        font-size: 20px;
    }
    
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        
        th {
            text-align: left;
            color: #909090;
            font-size: 14px;
            border-bottom: solid 1px #e7e7e7;
            height: 36px;
            padding-left: 16px;
        }
        td {
            height: 36px;
            border-bottom: solid 1px #e7e7e7;
            font-size: 14px;
            padding-left: 16px;
        }
    }
    
    .add-gecko-event-form {
        padding: 16px;
        display: flex;
        
        select {
            height: 26px;
        }
        
        button {
            padding: 10px;   
        }
        
        //input[type='text'] {
        //    border: 0;
        //    border-bottom: solid 1px #00c000;
        //}
        
        .field {
            margin: 10px;
            display: flex;
        }
    }
}


