body {
  background: white;
  font-family: Arial;
  margin: 0;
}
.header {
  background: #222;
  color: white;
  padding: 5px 10px;
}
.header .title {
  font-size: 2.5em;
}
.header .title .bold {
  font-weight: bold;
}
.navigation {
  background: #ccc;
  border-bottom: solid 1px #bbb;
  color: #444;
  padding: 5px 20px;
}
.content {
  background: white;
  border-radius: 2px;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
}
