<div class='events-table'>
	<div class='title'>Events</div>

	<search-box value='filter.search'></search-box>
	<table class='data-table alternating-rows'>
		<!-- Table Header -->
		<tr>
			<!--<th class='column-select'><i class="material-icons">check_box_outline_blank</i></th>-->
			<th class='column-date sortable' ng-click="setSort('date')">
				Date
				<i ng-if="filter.sortProperty == 'date' && filter.sortDirection == '-'" class='material-icons'>arrow_upward</i>
				<i ng-if="filter.sortProperty == 'date' && filter.sortDirection == '+'" class='material-icons'>arrow_downward</i>
			</th>
			<th class='column-type sortable' ng-click="setSort('type')">
				Event
				<i ng-if="filter.sortProperty == 'type' && filter.sortDirection == '-'" class='material-icons'>arrow_upward</i>
				<i ng-if="filter.sortProperty == 'type' && filter.sortDirection == '+'" class='material-icons'>arrow_downward</i>
			</th>
			<th class='column-details'>Details</th>
			<th class='column-notes sortable' ng-click="setSort('notes')">
				Notes
				<i ng-if="filter.sortProperty == 'notes' && filter.sortDirection == '-'" class='material-icons'>arrow_upward</i>
				<i ng-if="filter.sortProperty == 'notes' && filter.sortDirection == '+'" class='material-icons'>arrow_downward</i>
			</th>
			<th class='column-actions'></th>
		</tr>

		<!-- Table Rows -->
		<tr ng-repeat="event in events | filter:filterEvents | orderBy:filter.sortDirection + filter.sortProperty as filtered">
			<td title="{{event.date | dateHumanize}}">{{event.date | date: 'longDate'}}</td>
			<td>{{event.type | prettyEventType}}</td>
			<td>
				<span ng-if="event.type == 'weight'"><span class='info-label'>Weight</span> {{event.info.weight}}g</span>
				<span ng-if="event.type == 'clutch'"><spanspan class='info-label'>Eggs</span> {{event.info.eggs}}</span>
			</td>
			<td>{{event.notes}}</td>
			<td class='action-icons'>
				<i class='action-icon edit-icon material-icons' ng-click='editEvent(event)'>edit</i>
				<i class='action-icon delete-icon material-icons' ng-click='deleteEvent(event)'>delete_forever</i>
			</td>
		</tr>
		<tr ng-if='filtered.length == 0'>
			<td colspan=5 class='empty-indicator'>No events match your filter</td>
		</tr>
	</table>

	<div class='footer'>
		<button class="button--raised" style="margin: 0;" ng-click='addEvent()'>Add Event</button>
	</div>
</div>
