<div class='events-table material-card'>
	<div class='title'>Events</div>
    <table>
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Info</th>
        </tr>
        <tr ng-repeat='event in events'>
            <td>{{event.date}}</td>
            <td>{{event.type}}</td>
            <td>{{event.info}}</td>
        </tr>
        <tr>
            <td>Friday, June 13 2016</td>
            <td>Weighed</td>
            <td>67g</td>
        </tr>
    </table>

	<div class='add-gecko-event-form'>
		<div class='field'>
			<label>Date</label>
			<input type='date' ng-model='options.date'></input>
		</div>
		<div class='field'>
			<label>Type</label>
			<select ng-model='options.type'>
				<option value='hatched'>Hatched</option>
				<option value='laidClutch'>Laid Clutch</option>
				<option value='weighed'>Weighed</option>
				<option value='shed'>Shed</option>
				<option value='note'>Note</option>
			</select>
		</div>
		<div class='field' ng-if='options.type == "weighed"'>
			<label>Weight</label>
			<input type='number' ng-model='options.info.weight'></input>
		</div>
		<div class='field' ng-if='options.type == "laidClutch"'>
			<label>Eggs</label>
			<input type='number' ng-model='options.info.eggs'></input>
		</div>
		<div class='field' style='flex-shrink: 0; flex-grow: 1;'>
			<label>Note</label>
			<input type='text' class='note' ng-model='options.notes'/>
		</div>
		<div class='field'>
			<button ng-click='addEvent()'>Add Event</button>
		</div>
	</div>
</div>
