<div class='gecko-metrics'>
    <div class="gecko-metrics">
        <div class="metric">
            <div class="value">{{metrics.males + metrics.females}}</div>
            <div class="units">
                Geckos
            </div>
        </div>
        <div class="metric">
            <div class="value">{{metrics.eggs}}</div>
            <div class="units">
                Eggs
            </div>
        </div>
        <div class="pie">
            <div class="pie-metric">
                <div class="value">{{metrics.males}}</div>
                <div class="units">
                    Males

                </div>
            </div>
            <div id="pie-gender"></div>
            <div class="pie-metric green">
                <div class="value">{{metrics.females}}</div>
                <div class="units">
                    Females
                </div>
            </div>
        </div>
        <!-- TODO: Set up metrics for adults and hatchlings -->
        <div class="pie">
            <div class="pie-metric">
                <div class="value">?</div>
                <div class="units">
                    Adults
                </div>
            </div>
            <div id="pie-age"></div>
            <div class="pie-metric green">
                <div class="value">?</div>
                <div class="units">
                    Hatchlings
                </div>
            </div>
        </div>
    </div>
