<div class='gecko-metrics'>
    <div class='metric metric-total'>
        <div class='value'>{{metrics.males + metrics.females + metrics.eggs}}</div>
        <div class='units'>total<div class='subunits'>Geckos</div></div>
    </div>
    <div class='metric metric-male'>
        <div class='value'>{{metrics.males}}</div>
        <div class='units'>male<div class='subunits'>Geckos</div></div>
    </div>
    <div class='metric metric-female'>
        <div class='value'>{{metrics.females}}</div>
        <div class='units'>female<div class='subunits'>Geckos</div></div>
    </div>
    <div class='metric metric-eggs'>
        <div class='value'>{{metrics.eggs}}</div>
        <div class='units'>eggs<div class='subunits'>Incubating</div></div>
    </div
</div>
