<!-- CONTAINER FOR GECKO INFORMATION -->
<div class='gecko-detail-view'>
    <div id="STATUS-BAR">
        <a href="/"><i class="material-icons">home</i></a>
        <span class='detail-name'>
        {{geckoDetail.name}}
        </span>
         <span class='detail-gender'>

                    <i class='fa fa-mars male' ng-if="geckoDetail.sex == 'male'" title="male"></i>
                    <i class='fa fa-venus female' ng-if="geckoDetail.sex == 'female'" title="female"></i>
                    <i class='fa fa-question unknown' ng-if="geckoDetail.sex == 'unknown'" title="gender unknown"></i>
            </span>

                <span class='detail-id'>

                         {{geckoDetail.userId || "(no ID entered)"}}

                </span>
    </div>

    <div id="MAIN-CONTAINER">
        <div id="SIDE-BAR">
            <gecko-detail gecko-id="geckoDetail._id"></gecko-detail>
            <photo-gallery style='width: 400px;'></photo-gallery>
        </div>
        <div id="CHARTS">
            <events-table gecko-id="geckoId"></events-table>
            <weight-chart gecko-id="geckoId"></weight-chart>
            <egg-table gecko="geckoDetail"></egg-table>
        </div>
    </div>
</div>
