<div class='photo-gallery'>

	<!-- Primary photo -->
	<img class='primary-photo' src='{{geckoDetail.primaryPhoto.path}}' ng-if='geckoDetail.primaryPhoto'></img>
	<img class='primary-photo' src='photos/default.png' ng-if='!geckoDetail.primaryPhoto'></img>
	
	<!-- Thumbnails -->
	<div class='thumbnails'>
		<img class='thumbnail-photo' ng-repeat='photo in photos' src='{{photo.path}}' ng-click='showLightbox(photo)'></img>
	</div>
	<form>
		<button type='file' ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">Upload File</button>
	</form>



	<div class='lightbox-background' ng-if='selectedPhoto'>
		<i class="close-icon material-icons" ng-click='hideLightbox()'>close</i>

		<div class='lightbox'>
			<div class='photo-wrapper'>
				<img class='selected-photo' src='{{selectedPhoto.path}}'></img>
				<i class="rotate-icon left material-icons"
				   ng-click='rotatePhoto(-1)'
				   ng-if='selectedPhotoNumber > 1'>
					chevron_left
				</i>
				<i class="rotate-icon right material-icons"
				   ng-click='rotatePhoto(1)'
				   ng-if='selectedPhotoNumber < photos.length'>
					chevron_right
				</i>
			</div>
			<div class='lightbox-thumbnails' ng-if='false'>
				<img class='lightbox-thumbnail' ng-repeat="photo in photos" src='{{photo.path}}' ng-click="showLightbox(photo)"></img>
			</div>
			<div class='lightbox-date-and-number'>
				<div class='date'>{{selectedPhoto.taken | date: 'fullDate'}} <span class='age'>{{getAgeWhenTaken(selectedPhoto)}} old</span></div>
				<div class='number'>Image {{selectedPhotoNumber}} of {{photos.length}}</div>
			</div>
			<div class='lightbox-caption-wrapper'>
				<input type='text' class='caption' placeholder='Enter a caption...' ng-model='options.caption'></input>
				<i ng-if='options.caption != selectedPhoto.caption' class='edit-icon material-icons' ng-click='setCaption()'>edit</i>
			</div>
			<div class='action-buttons'>
				<button class='set-primary-photo-button' ng-click='setPrimaryPhoto(selectedPhoto)'>Set as Primary Photo</button>
			</div>
		</div>

	</div>
<!--
<div flow-init="{target: '/gecko/{{geckoDetail._id}}/photos'}"
	 flow-files-submitted="$flow.upload()"
	 flow-file-success="$file.msg = $message">
	<input type='file' flow-btn />
	Input or Other element as upload button
	<span flow-btn>Upload File</span>
	<tr ng-repeat="file in $flow.files">
		<td>{{$index+1}}</td>
		<td>{{file.name}}</td>
		<td>{{file.msg}}</td>
	</tr>
</div>
-->
</div>