<div class='PhotoGallery'>

	<!-- Primary photo -->
	<div class='photo-action-bar'>
		<form class='float-left'>
			<button type='file' ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">
				<i class='material-icons' title='Upload or take a photo'>add_a_photo</i>
			</button>
		</form>
        <i class='material-icons float-left' ng-click='deletePhoto(photos[curPhoto])' title='Delete photo'>delete</i>
        <i class='material-icons float-left' ng-click='setPrimaryPhoto(curPhoto)' title='Make primary photo'>favorite</i>
        
		<i class='material-icons' ng-click='showLightbox(photos[curPhoto])' title='Zoom in'>zoom_in</i>
		<i class='material-icons' ng-click='bumpCurrentPhoto(-1)' title='Previous photo'>chevron_left</i>
		<i class='material-icons' ng-click='bumpCurrentPhoto(1)' title='Next photo'>chevron_right</i>
	</div>
	<div class='primary-photo' ng-click='showLightbox(photos[curPhoto])'>
		<img src='{{photos[curPhoto].path}}'></img>
	</div>

	<div class='photo-details-bar'>
		<div class='photo-date-and-caption'>
			<div class='photo-date'>
				{{photos[curPhoto].taken | date: 'fullDate'}}
				<span class='photo-date-relative'>{{getAgeWhenTaken(photos[curPhoto])}} old</span>
			</div>
			<div class='photo-caption'>
				{{photos[curPhoto].caption}}
			</div>
		</div>
	</div>

	<div class='primary-photo' ng-if='!geckoDetail.primaryPhoto'>
		<img src='photos/default.png'></img>
	</div>

	<!-- Thumbnails -->
	<div class='thumbnails'>
		<div class='thumbnail-photo' ng-class="{current: $index == curPhoto}" ng-repeat='photo in photos' ng-click='setCurrentPhoto($index)'>
			<img src='{{photo.path}}'></img>
		</img>
	</div>


	<!-- Lightbox -->
	<div class='lightbox-background' ng-if='selectedPhoto'>
		<i class="close-icon material-icons" ng-click='hideLightbox()'>close</i>

		<div class='lightbox'>
			<div class='photo-wrapper'>
				<img class='selected-photo' src='{{selectedPhoto.path}}'></img>
				<i class="rotate-icon left material-icons"
				   ng-click='rotatePhoto(-1)'
				   ng-if='selectedPhotoNumber > 1'>
					chevron_left
				</i>
				<i class="rotate-icon right material-icons"
				   ng-click='rotatePhoto(1)'
				   ng-if='selectedPhotoNumber < photos.length'>
					chevron_right
				</i>
			</div>
			<div class='lightbox-thumbnails' ng-if='false'>
				<img class='lightbox-thumbnail' ng-repeat="photo in photos" src='{{photo.path}}' ng-click="showLightbox(photo)"></img>
			</div>
			<div class='lightbox-date-and-number'>
				<div class='date'>{{selectedPhoto.taken | date: 'fullDate'}} <span class='age'>{{getAgeWhenTaken(selectedPhoto)}} old</span></div>
				<div class='number'>Image {{selectedPhotoNumber}} of {{photos.length}}</div>
			</div>
			<div class='lightbox-caption-wrapper'>
				<input type='text' class='caption' placeholder='Enter a caption...' ng-model='options.caption'></input>
				<i ng-if='options.caption != selectedPhoto.caption' class='edit-icon material-icons' ng-click='setCaption()'>edit</i>
			</div>
<!--
			<div class='action-buttons'>
				<button class='set-primary-photo-button' ng-click='setPrimaryPhoto(selectedPhoto)'>Set as Primary Photo</button>
			</div>
-->
		</div>

	</div>
<!--
<div flow-init="{target: '/gecko/{{geckoDetail._id}}/photos'}"
	 flow-files-submitted="$flow.upload()"
	 flow-file-success="$file.msg = $message">
	<input type='file' flow-btn />
	Input or Other element as upload button
	<span flow-btn>Upload File</span>
	<tr ng-repeat="file in $flow.files">
		<td>{{$index+1}}</td>
		<td>{{file.name}}</td>
		<td>{{file.msg}}</td>
	</tr>
</div>
-->
</div>