<div class='egg-table'>
	<div class='title'>Eggs</div>
	{{gecko}}
    <table class='data-table alternating-rows'>
        <tr>
            <th>ID</th>
            <th>Date Laid</th>
            <th ng-if="gecko && gecko.sex == 'male'">Mother</th>
            <th ng-if="gecko && gecko.sex == 'female'">Father</th>
            <th>Location</th>
            <th>Expected to Hatch</th>
            <th>Sex (Incubated)</th>
        </tr>
        <tr ng-repeat="egg in geckos | filter:{stage: 'egg'}">
            <td>{{egg.userId}}</td>
            <td>{{egg}}</td>
            <td ng-if="gecko && gecko.sex == 'male'">{{egg.motherName}}</td>
            <td ng-if="gecko && gecko.sex == 'female'">{{egg.father.name}}</td>
            <td>{{egg.location}}</td>
            <td>{{estimateExpectedHatchDate(egg) | date:'fullDate'}}</td>
            <td>{{egg.sex | capitalize}}</td>
        </tr>
    </table>
	<div style='height: 50px'></div>
</div>
