<div>
    <!-- HEADER STATUS BAR -->
    <div class='navigation grid'>
        <div class="col-1-2">{{statusMsg}}</div>
        <div class="col-1-2 right">
            <a href="" ng-click="showForm = !showForm">
                <span ng-if=!showForm>Add New Gecko</span>
                <span ng-if=showForm>Go back</span>
            </a>
        </div>
    </div>

    <!-- ADD GECKO FORM -->
    <!-- KENNY: This should be moved into a directive. -->
    <div ng-controller='AddGeckoController' ng-show='showForm'>

        <form name="addGeckoForm" id="form">
            <h1>Add Gecko Form</h1>
            <p style="color: red;">{{validationMsg}}</p>
            <div class="grid">
                <div class="form-element">
                    <label>Gecko's Name</label>
                    <input type="text" placeholder="ex. Tammy or Gecko #23" ng-model="form.name">
                </div>
                <div class="form-element">
                    <label>MORPH tYPE</label>
                    <input type="text" placeholder="ex. Lavender Jungle Bandit" ng-model="form.morph">
                </div>
                <div class="form-element">
                    <label>Weight (grams)</label>
                    <input type="number" placeholder="ex. 33" ng-model="form.weight">
                </div>
                <div class="form-element">
                    <label>Date of Birth</label>
                    <input type="date" placeholder="birthdate" ng-model="form.birthDate">
                </div>
                <div class="form-element">
                    <label>date of Purchase</label>
                    <input type="date" placeholder="date of purchase" ng-model="form.purchaseDate">
                </div>
                <div class="form-element">
                    <label>ID</label>
                    <input type="text" placeholder="ex. 16M24" ng-model="form.uniqueID">
                </div>
                <div class="form-element">
                    <label>Location</label>
                    <input type="text" placeholder="ex. Bin 2A" ng-model="form.location">
                </div>
                <div class="form-element">
                    <label>Sex</label>
                    <select ng-model="form.sex">
                        <option value=male>Male</option>
                        <option value="female">Female</option>
                        <option value="unknown" selected>Unknown</option>
                    </select>
                </div>
                <div class="form-element">
                    <label>Status</label>
                    <select ng-model="form.status">
                        <option value="unknown" selected>Unknown</option>
                        <option value="normal">Normal</option>
                        <option value="gravid">Gravid</option>
                        <option value="egg">Egg</option>
                        <option value="sold">Sold</option>
                        <option value="dead">Dead</option>
                    </select>
                </div>
            </div>
            <button ng-click="submitForm()">Add Gecko</button>
        </form>
    </div>
    
    <gecko-table></gecko-table>
    <!--<egg-table></egg-table> -->
</div>
