<div>
    <!-- HEADER STATUS BAR -->
    <div class="status-bar grid">
        <div class="col-1-2 left">{{statusMsg}}</div>
        <div class="col-1-2 right">
            <a href="" ng-click="showForm = !showForm">
                <span ng-if=!showForm>ADD NEW GECKO</span>
                <span ng-if=showForm>GO BACK</span>
            </a>
        </div>
    </div>
<gecko-metrics></gecko-metrics>
  <add-gecko-form></add-gecko-form>
<gecko-table></gecko-table>
<!--<egg-table></egg-table> -->
</div>
