<!-- TODO: add ability to close modal by clicking outside of it -->
<div class='AddEventForm' modal>
	<div class="add-event-title">
		<span ng-if="isEdit">Edit Event</span>
		<span ng-if="!isEdit">Create Event</span>
	</div>

	<div class='content'>
		<!-- Date and Event fields -->
		<div class='display-flex'>
			<div class='flex-half'>
			<form-field-date label='Date' value='form.date'></form-field-date>
			</div>
			<div class='flex-half'>
			<form-field-select label='Event' options='form.typeOptions' value='form.type'></form-field-select>
			</div>
		</div>

		<!-- Clutched fields -->
		<div class='display-flex' ng-show="form.type == 'clutch'">
			<form-field-number label='Eggs Laid' value='form.info.eggs'></form-field-number>
		</div>

		<!-- Weight fields -->
		<div class='display-flex' ng-show="form.type == 'weight'">
			<form-field-number label='Weight (g)' value='form.info.weight'></form-field-number>
		</div>

		<!-- Notes field -->
		<div class='display-flex'>
			<div class='flex-full'>
				<form-field-big-text label='Notes' value='form.notes'></form-field-select>
			</div>
		</div>
	</div>

	<!-- Action buttons -->
	<div class='add-event-action-buttons'>
		<button class='button--flat' ng-click="addEvent()" ng-if="!isEdit">Add</button>
		<button class='button--flat' ng-click="editEvent()" ng-if="isEdit">Save</button>
		<button class='button--flat' ng-click="close()">Close</button>
	</div>
</div>
