<!-- TODO: add ability to close modal by clicking outside of it -->
<div class='AddEventForm' modal>
	<div class="add-event-title">
		<span ng-if="event">Edit Event</span>
		<span ng-if="!event">Create Event</span>
	</div>

		<div class='add-event-fields'>
			<div class='field big'>
<!--
				<div class='label'>Date</div>
				<input type='date' class='field-date' ng-model='form.date'></input>
				<div class='field-alerts'>Required</div>
-->
				<form-field-date label='Date' value='form.date'></form-field-date>
			</div>
			<div class='field big'>
<!--
				<div class='label'><span ng-if='form.type'>Event Type</span></div>
				<select class='field-select' ng-model='form.type' placeholder='Event Type'>
					<option value="" disabled selected ng-if='!form.type'>Event Type</option>
					<option value="clutch">Laid Clutch</option>
					<option value="weight">Weight</option>
					<option value="shed">Shed</option>
					<option value="hatch">Hatched</option>
					<option value="laid">Laid</option>
					<option value="note">Note</option>
				</select>
				<div class='field-alerts'></div>
-->
				<form-field-select label='Event' options='form.typeOptions' value='form.type'></form-field-select>
			</div>
			<div class='field' ng-show="form.type == 'weight'">
				<div class='label'><span ng-if='form.info.weight'>Weight</span></div>
				<input type='number' ng-model='form.info.weight' placeholder='Weight'></input>
				<div class='field-alerts'></div>
			</div>
			<div class='field' ng-show="form.type == 'clutch'">
				<div class='label'><span ng-if='form.info.eggs'>Eggs</span></div>
				<input type='number' ng-model='form.info.eggs' placeholder='Eggs'></input>
				<div class='field-alerts'></div>
			</div>
			<div class='field huge'>
				<div class='label'><span ng-if='form.notes'>Notes</span></div>
				<input type='text' ng-model='form.notes' placeholder="Notes"></input>
				<div class='field-alerts'>Optional</div>
			</div>
		</div>
		<div class='field' ng-show="form.type == 'clutch'">
			<div class='label'><span ng-if='form.info.eggs'>Eggs</span></div>
			<input type='number' ng-model='form.info.eggs' placeholder='Eggs'></input>
			<div class='field-alerts'></div>
		</div>
		<div class='field huge'>
			<div class='label'><span ng-if='form.notes'>Notes</span></div>
			<input type='text' ng-model='form.notes' placeholder="Notes"></input>
			<div class='field-alerts'>Optional</div>
		</div>
	</div>

	<!-- Action buttons -->
	<div class='add-event-action-buttons'>
		<button class='button--flat' ng-click="addEvent()" ng-if="!isEdit">Add</button>
		<button class='button--flat' ng-click="editEvent()" ng-if="isEdit">Save</button>
		<button class='button--flat' ng-click="close()">Close</button>
	</div>
</div>
