.events-table {
    background: white;
	padding: 0;

    .title {
        padding: 16px;
        font-size: 20px;
    }

	.filter {
		padding: 16px;
		padding-top: 0;
		display: flex;

		i { color: rgba(0, 0, 0, 0.541176); }
		i.search { padding-left: 0; }
		i.close { padding-right: 0; cursor: pointer; }

		input[type=text] {
			flex-grow: 1;
			border: 0;
			font-family: Roboto, sans-serif;
		}
	}

	th.column-select { width: 40px; }
	th.column-date { width: 240px; }
	th.column-type { width: 100px; }
	th.column-details { width: 200px; }
	th.column-actions { width: 100px; }

    .add-gecko-event-form {
        padding: 16px;
        display: flex;

        select {
            height: 26px;
            border: 0;
            outline: none;
            padding-bottom: 1px;
            &:hover {
                padding-bottom: 0;
                border-bottom: solid 2px lighten(#00c000, 50%);
            }
            &:focus {
                padding-bottom: 0;
                border-bottom: solid 2px #00c000;
            }
        }

        button {
            padding: 8px 10px;
            margin-top: 12px;
            background: #00c000;
            font-weight: bold;
            color: white;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            cursor: pointer;
            &:hover {
                background: #00d000;
            }
        }

        input[type=number] {
            width: 50px;
            border: 0;
            outline: none;
            &:hover {
                border-bottom: solid 2px lighten(#00c000, 50%);
            }
            &:focus {
                border-bottom: solid 2px #00c000;
            }
        }

        input[type=date] {
            padding: 2px;
            font-family: Arial;
            border: 0;
            outline: none;
            &:hover {
                border-bottom: solid 2px lighten(#00c000, 50%);
            }
            &:focus {
                border-bottom: solid 2px #00c000;
            }
        }

        input[type=text] {
            border: 0;
            outline: none;
            &:hover {
                border-bottom: solid 2px lighten(#00c000, 50%);
            }
            &:focus {
                border-bottom: solid 2px #00c000;
            }
        }

        .note {
            width: 100%;
        }

        .field {
            label {
                display: block;
            }
            font-size: 12px;
            margin: 10px;
        }

    }
	
	.footer { 
		padding: 16px;
		text-align: right;
	}
}
