/* For gender symbols, used on gecko list and gecko detail */

.female {
    color: @pink;
}

.male {
    color: @blue;
}

.unknown {
    color: @textColorGray;
}


/* Gecko Card (List) */

.gecko-card {
    line-height: 14px;
    background: white;
    padding-top: 15px;
    border-bottom: 1px solid @dividerColor;
}

.gecko-card tr {
     border-bottom: solid 1px @evenRowColor;
}

.gecko-card tr:not(.link--nohover):hover {
    background: @lightPrimaryColor;
}

/* Search box on Gecko List */
.search-box {


margin-left: 15px;
    margin-right: 30px;
    background: white;
    width: 50%;
    padding: 5px;
   // width: unset;
}

/* Gecko Detail */
.gecko-detail-card {
    .card;
    padding: 10px;

}
.add-gecko-button {
    position: absolute;
    right: 5px;
}
.gecko-detail-card .table-header {
    width: 75px;
    color: @textColorGray;
}

.thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 5px;
    &:hover {
        border: solid 3px @primaryColor;
    }
}

/* Add New Gecko Form */
.add-gecko-form label, .gecko-detail-card label {
    color: @textColorGray;
    .bold;
    font-size: 14px;
}

#form input, #form select {

    line-height: 20px;
}

.add-gecko-form {
    .card;
    padding: 10px;
}

.form-feedback {
    color: @accentColor;
    border-top: solid 1px @dividerColor;
}

.green {
    color: @primaryColor;
}
