#HEADER,
#STATUS-BAR {
    width: 100%;
    z-index: 3;
    position: relative;
}

#HEADER,
{
    background: @darkPrimaryColor;
    color: @textColorLight;
    padding: 5px 10px;
    font-size: 2em;
    & .fa {
        float: right;
    }
}

#STATUS-BAR {
    background: @primaryColor;
    color: @textColorLight;
}
