.gecko-metrics {
    @metrics-total-color: ;
    @metrics-male-color: #6c78ab;
    display: flex;
    padding: 15px;
    justify-content: center;
    .metric {
        padding: 0 25px;
        &.metric-total {
            color: @textColorLight;
        }
        &.metric-male {
            color: @blue;
        }
        &.metric-female {
            color: @pink;
        }
        &.metric-eggs {
            color: @textColorGray;
        }
    }
    .units {
        display: inline-block;
        font-size: 24px;
        line-height: 24px;
        padding-top: 4px;
        padding-left: 4px;
        text-transform: capitalize;
        font-weight: medium;
        .subunits {
            line-height: 16px;
            font-size: 16px;
        }
    }
    .value {
        display: inline;
        font-size: 48px;
        line-height: 48px;
        font-weight: bold;
        vertical-align: top;
    }
}
