/* METRICS */

.gecko-metrics {
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    .metric,
    .pie-metric {
        flex: 1 1 100px;
        display: flex;
        margin: auto 20px;
        flex-direction: column;
        text-align: center;
        margin: 10px auto;
        font-size: 24px;
    }
    .pie-metric {
        margin: -5px auto;
        font-size: 16px;
    }
    .value {
        font-size: 2em;
        line-height: 1em;
    }
    .units {
        line-height: 1em;
    }
    .pie {
        margin: 30px auto;
    }
    #pie-gender,
    #pie-age {
        margin: 0 50px;
    }
}
