.flex-container {
    display: flex;
}

.side-bar {
    .flex-container;
    flex-direction: column;
    background: @superLightPrimary;
    z-index: 2;
    border-right: 1px solid @dividerColor;
    border-bottom: 1px solid @dividerColor;
    min-width: 200px;
}

.add-gecko-form {
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.dashboard-main-container{
    display:flex;
    flex-direction: column;
}

.detail-main-container{
    display: flex;
    align-items: stretch;
    height: 200px;
}
.gecko-detail-card {
    border-bottom: 1px solid @dividerColor;
}

.flex-events, .graphs {
    background: white;
    border-bottom: 1px solid @dividerColor;
    border-right: 1px solid @dividerColor;
    flex: 1 1 300px;
    height: 450px;
}

.collaspe-gecko-detail {
    height: 50px;
    overflow: hidden;
}
