.flex-container {
    display: flex;
}

.side-bar {
    .flex-container;
    flex-direction: column;
    background: @superLightPrimary;
    z-index: 2;
    border-right: 1px solid @dividerColor;
    border-bottom: 1px solid @dividerColor;
    min-width: 200px;
}


.dashboard-main-container{
    display:flex;
    flex-direction: column;
}


.gecko-detail-card {
    border-bottom: 1px solid @dividerColor;
}


.collaspe-gecko-detail {
    height: 50px;
    overflow: hidden;
}

.graphs {

    height: 200px;
        border: 1px solid @dividerColor;
    background: @white2;

}
