.flex-container {
    display: flex;
}

// HEADER //
.header {}

// LAYOUT FOR DASHBOARD VIEW //
#MAIN-CONTAINER {
    display: flex;
    align-items: stretch;
}

#SIDE-BAR {
    background: @textColorDark;
    //border-right: 1px solid @dividerColor;
    //border-bottom: 1px solid @dividerColor;
    min-width: 200px;
    padding: 10px;
    color: #a0a0a0;
}

.dashboard-main-container {
    display: flex;
    flex-direction: column;
}

// LAYOUT FOR GECKO DETAIL //
.gecko-detail-card {
    //border-bottom: 1px solid @dividerColor;
}

.graphs {
    min-height: 200px;
    //border: 1px solid @dividerColor;
    //background: @white3;
}

#weight,
#other {
    width: 50%;
}
